
@media (min-width: 700px) {
    body {
        text-align: center;
        justify-content: center;
        font-size: 30px;
        background-color: lightgray;
        background: linear-gradient(90deg,lightgray,#94c9d8,rgb(130, 156, 230));
        padding: 20px;
        border-radius: 10px;
    }
}
@media (max-width: 900px) {
    body {
        text-align: center;
        justify-content: center;
        font-size: 16px;
        background-color: lightgray;
    }
}